{% extends "base.html" %}

{% block content %}
<div class="container">
  <h1>Contatos – {{ hospital.nome_hospital }}</h1>

    <a class="btn secondary"
   href="{{ url_for('main.hospitais') }}">
   ⬅ Voltar
    </a>

  </div>

  <hr>

  {% if contatos|length == 0 %}
    <p>Nenhum contato cadastrado.</p>
  {% else %}
    <table class="table">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Cargo</th>
          <th>Telefone</th>
        </tr>
      </thead>
      <tbody>
        {% for c in contatos %}
        <tr>
          <td>{{ c.nome_contato }}</td>
          <td>{{ c.cargo or "" }}</td>
          <td>{{ c.telefone or "" }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}
</div>
{% endblock %}
