{% extends "base.html" %}

{% block content %}
<div class="container">
  <h1>Dados do Hospital – {{ hospital.nome_hospital }}</h1>

  <div class="actions">
    <a class="btn secondary"
       href="{{ url_for('main.importar_dados_excel', hospital_id=hospital.id) }}">
      Importar DADOS (Excel)
    </a>

    <a class="btn primary"
       href="{{ url_for('main.hospitais') }}">
      Voltar
    </a>
  </div>

  <hr>

  {% if not dados %}
    <p>Nenhum dado cadastrado para este hospital.</p>
  {% else %}
    <table class="table">
      <tbody>
        <tr>
          <th>Especialidade</th>
          <td>{{ dados.especialidade }}</td>
        </tr>
        <tr>
          <th>Leitos</th>
          <td>{{ dados.leitos }}</td>
        </tr>
        <tr>
          <th>Leitos UTI</th>
          <td>{{ dados.leitos_uti }}</td>
        </tr>
        <tr>
          <th>Fatores decisórios</th>
          <td>{{ dados.fatores_decisorios }}</td>
        </tr>
        <tr>
          <th>Prioridades atendimento</th>
          <td>{{ dados.prioridades_atendimento }}</td>
        </tr>
        <tr>
          <th>Certificação</th>
          <td>{{ dados.certificacao }}</td>
        </tr>
        <tr>
          <th>EMTN</th>
          <td>{{ dados.emtn }}</td>
        </tr>
        <tr>
          <th>Membros EMTN</th>
          <td>{{ dados.emtn_membros }}</td>
        </tr>
      </tbody>
    </table>
  {% endif %}
</div>
{% endblock %}
