{% extends "base.html" %}
{% block content %}
<div class="container">
  <h1>Novo Hospital</h1>

  <div class="row" style="margin-bottom:12px;">
    <a class="btn secondary" href="{{ url_for('main.hospitais') }}">⬅ Voltar</a>
  </div>

  <div class="card">
    <form method="POST" action="{{ url_for('main.novo_hospital') }}" class="grid">

      <div>
        <label>Nome do hospital *</label>
        <input name="nome_hospital" required>
      </div>

      <div>
        <label>Endereço</label>
        <input name="endereco">
      </div>

      <div>
        <label>Número</label>
        <input name="numero">
      </div>

      <div>
        <label>Complemento</label>
        <input name="complemento">
      </div>

      <div>
        <label>CEP</label>
        <input name="cep">
      </div>

      <div>
        <label>Cidade</label>
        <input name="cidade">
      </div>

      <div>
        <label>Estado</label>
        <input name="estado">
      </div>

      <div style="grid-column:1/-1;">
        <button class="btn" type="submit">Salvar</button>
      </div>

    </form>
  </div>
</div>
{% endblock %}
