{% extends "base.html" %}
{% block content %}

<div class="card">
  <h2>Novo Hospital</h2>
  <p class="muted">Preencha e clique em salvar.</p>

  <form method="POST" action="{{ url_for('main.novo_hospital') }}">
    <label>Nome do hospital *</label>
    <input name="nome_hospital" required>

    <label>Endereço</label>
    <input name="endereco">

    <label>Número</label>
    <input name="numero">

    <label>Complemento</label>
    <input name="complemento">

    <label>CEP</label>
    <input name="cep">

    <label>Cidade</label>
    <input name="cidade">

    <label>Estado</label>
    <input name="estado">

    <div class="btns">
      <button class="btn" type="submit">Salvar</button>
      <a class="btn secondary" href="{{ url_for('main.hospitais') }}">Voltar</a>
    </div>
  </form>
</div>

{% endblock %}
